.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  background-color: #faf8f4;
  margin: 5em;
  border-radius: 2em;
  box-sizing: border-box;
  box-shadow: rgb(31, 16, 16);
}

.display-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5em 20em 0 0;
}

.title {
  font-family: "Gideon Roman", cursive;
  color: orange;
  text-align: center;
}

span {
  color: #2269ba;
}

.color-picker {
  margin-bottom: 4rem;
}

.text-input {
  width: 14rem;
  border: 2px solid #216c76;
  border-radius: 10px;
  outline: none;
  padding: 0.7rem;
  box-sizing: border-box;
  transition: 0.3s;
  margin-bottom: 4rem;
}

.text-input::placeholder {
  font-family: "Gideon Roman", cursive;
  font-weight: bold;
  color: #5ba1f9;
  text-align: center;
}

.text-input:focus {
  border-color: #5ba1f9;
  box-shadow: 0 0 8px 0 #5ba1f9;
}

.text-input:focus::placeholder {
  visibility: hidden;
}

.picker-title {
  color: #5ba1f9;
  font-family: "Gideon Roman";
}

.main-image {
  border-radius: 10px;
}
